*.o
*.Po
*.swp
Makefile.in
Makefile

aclocal.m4
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
autom4te.cache/

gtfcompare/src/gtfcompare
gtfcuff/src/gtfcuff
gtfformat/src/gtfformat
gtfmerge/src/gtfmerge
gtfquant/src/gtfquant
gtfsimulator/src/gtfsimulator
gtfalign/src/gtfalign
